$icon-font-path: '../fonts/';

@import "bower_components/bootstrap/scss/bootstrap-flex.scss";

// bower:scss
// endbower

:root {
	--mainColor: #81d4fa;
}

body {
	font-size: 1em;
	background: var(--mainColor);
}

.browserupgrade {
	padding: 0.2em 0;
	margin: 0.2em 0;
	color: #000;
	background: #ccc;
}

.browserupgrade {
	background-color: var(--mainColor);
}
