$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
	font-size: 1em;
	background: #81d4fa;
}

.browserupgrade {
	padding: 0.2em 0;
	margin: 0.2em 0;
	color: #000;
	background: #ccc;
}

.browserupgrade {
	background-color: #81d4fc;
}
