/* stylelint-disable selector-list-comma-newline-after */

/* ==========================================================================
   #RESET
   ========================================================================== */

/**
 * A very simple reset that sits on top of Normalize.css.
 */
body,
h1, h2, h3, h4, h5, h6,
blockquote, p, pre,
dl, dd, ol, ul,
figure,
hr,
fieldset, legend {
	padding: 0;
	margin: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > {
	ol,
	ul {
		margin-bottom: 0;
	}
}

/**
 * Remove default table spacing.
 */
table {
	border-spacing: 0;
	border-collapse: collapse;
}

/* stylelint-enable selector-list-comma-newline-after */
